*{
    font-family: 'Roboto', sans-serif;
    color: #2E3A59;
    background-color: #f8f8f8;

}

.container{
    position: relative;
}

.paralax__balls{
    position: absolute;
    background: none;
}

.balls__left{
    bottom: 34%;
}

.balls__right{
    position: absolute;
    right: 0;
    top: 0;
}

.container__main{
    padding-top: 7px;
    margin-bottom: 109px;
}

.container__content{

}

.container__main__table{
    display: none;
}

.container__main__table td p{
    max-width: 150px;
    margin: 0 auto;
}

.container__main__table__img{
    width: 100%;
}

.table__img__headphones:hover{
    content: url('../img/svg/headphones__colored.svg');;    
}

.table__img__explanation-point:hover{
    content: url('../img/svg/explanation-point__colored.svg');
}

.table__img__tablet:hover{
    content: url('../img/svg/tablet__colored.svg');
}

.table__img__remote-controller:hover{
    content: url('../img/svg/remote-controller__colored.svg');
}

p{
    margin-block-start: 0;
    margin-block-end: 0;
}

body{
    margin: 0;
    padding: 0;
}
html{
    margin: 0;
    padding: 0;
}
.title{
    font-weight: 700;
    text-align: center;
}


.line{
    content: '';
    width: 184px;
    border-top: 4px  solid #00C368;
    margin: 0 auto;
    background: linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
}

.header{
    max-height: 160px;

}

.header__logo{
    width: 65%;
    margin: 0px 16%;

}

.header__navigation, .header__button{
    display: none;
}



.header__navigation__button{
    padding: 4px 23px;
    margin: 0;
}

.header__navigation__button:hover{
    box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.4);
    background-color: #00C368;
    border-radius: 8px;
}

.header__button a,.header__navigation a:hover{
    color: white;    
}
.header__button a,.header__navigation a:hover:visited{
    color: white;    
}

.header__button a,.header__navigation a{
    color: #A6ABBD;
    text-decoration: none;
}

.header__button a,.header__navigation a:visited{
    color: #A6ABBD;
}

.header__button__href{
    margin-bottom: 20px;
}

.container__main__img{
    width: 69%;
    margin:57px 15.5% 0;
    filter: drop-shadow(0px 68px 30px #223C5023);
}

.container__main__title{
    font-size: 7vw;
    margin: 35px 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.03em;
}
.container__main__line{
    margin-top: 75px;
    display: none;
}

.content__plus__title{
    font-size: 7vw;
    text-align: center;
    letter-spacing: 0.03em;
}

/* 
    BX-SLIDER STYLES I ADDED
*/


.slider__part__img{
    width: 27%;
    margin: 0 auto;
}
.slider__part__text{
    width: 55%;
    margin: 15px auto;
    text-align: center;
}


/*
    BX-SLIDER IT OWN STYLES
*/

.bx-viewport{
    height: 69vw !important;
}

.bx-wrapper{
    margin-bottom: 0;
    border: none;
    box-shadow: none;
    overflow-x: visible;
}

.bx-wrapper .bx-prev{
    background: url('../img/slider/prev.svg') no-repeat;
    background-size: contain;
    left: 27%;
}

.bx-wrapper .bx-next{
    background: url('../img/slider/next.svg') no-repeat;
    background-size: contain;
    right: 27%;
}


.bx-wrapper .bx-controls-direction a{
    width: 3.2vw;
    top: 105%;
    margin-top: 0;
}

.bx-wrapper .bx-pager.bx-default-pager a{
    width: 8px;
    height: 8px;
    margin: 0 5.5px;
    border-radius: 50%;
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
    bottom: -10%;
}

.bx-wrapper .bx-pager.bx-default-pager a{
    background: #E7EBF0;
}


.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus{
    background: #A6ABBD;
    margin: 0 10px;
}

/*  CSS FOR ADVANTAGE  */

.content__plus{
    padding: 1px 0;
}

.content__plus, .content__plus__head, .content__plus__head__title, .content__plus__head__subtitle, .content__plus__list{
    background-color: #F8FBFF;
    background-size: 100%;
}

.content__plus__head__line{
    margin-top: 20px;
}

.content__plus__head__title{
    font-size: 1.5em;
    text-align: center;
    margin: 14px 15px;

}

.content__plus__head__subtitle{
    font-size: 1em;
    font-weight: 400;
    margin: 19px 15px 20px;
    line-height: 1.5em; 
    text-align: center;
}

.content__plus__list{
    background-color: #F8FBFF;
    padding: 10px 15px 10px;
}

.content__plus__list:not(:last-child){
    border-bottom: 1px solid #E7EBF0;    
}

.plus__list__label{
    font-size: 1em;
    margin-right: 20%;
    background-color: #F8FBFF;
}

.plus__list__details{
    display: none;
    margin: 20px 20% 0 14%;
    background-color: #F8FBFF;
}

.plus__list__input{
    display: none;
}

.plus__list__label:hover{
    color: #00C368;
}

.plus__list__input:checked ~ .plus__list__details{
    display: block;
}

.plus__list__input:checked ~ .plus__list__label{
    color: #00C368;
}

.plus__list__input:checked ~ .plus__list__arrow{  
    transform: rotate(180deg);
}

.plus__list__icon{
    display: none;    
    float: left;
    width: 35px;
    height: 35px;
    padding: 5px;
    margin-left: 10px;
    background-color: #E7EBF0;
    border-radius: 50%;

}

.plus__list__arrow{
    width: 19px;
    float: right;
    margin: 3px 0 0 0;
    background-color: #F8FBFF;
}

/* CSS FOR  REVIEW */


.review__content__main-review{
    -webkit-box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
    -moz-box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
    box-shadow: 0px 8px 16px rgba(0, 195, 104, 0.24);
    border-radius: 32px;
    position:relative;
    margin-top: 95px;
    padding-bottom: 10px;
}

.review__content__main-review::before{
    background: linear-gradient(47deg, #00c368 12%, #ffffff 110% );
    transform: translate3d(18px, 20px, 0) scale(0.95);
    filter: blur(20px);
    opacity: var(0.7);
    transition: opacity 0.3s;
    border-radius: inherit;
}

.review__content__main-review::after{
    background: #fff;
    border-radius: inherit;
}

.review__content__main-review__photo{
    margin: 0px auto;
}

.content__review{
    padding: 0 15px;
}

.content__review__border{
    margin: 25px auto 14px auto;

}

.content__review__title{
    font-size: 1.5em;
}

.main-review__photo__quotes{
    width: 40px;
    padding: 10px 0 0 20px;
}

.quotes__end{
    transform: rotate(180deg);
    float: right;
    padding: 0 0 20px 10px;
}

.main-review__photo__avatar{
    width: 33%;
    position:absolute; 
    top: -11.5%;
    left: 34%;
    z-index: 5;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.main-review__text__quotes{
    display: none;
}

.review__content__main-review__text{
    margin: 12vw auto 5px;
    text-align: center;
    width: 90%;
    line-height: 1.5em;
    letter-spacing: 0.001em;
    font-size: 1em;

}

.main-review__text{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

.main-review__name{
    margin: 15px 0 0px;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}


/* SECOND AND THIRD REVIEW */

.review__content__second-review{
    margin-top: 20px;
}

.review__content__third-review{
    margin-top: 25px;
}

.second-review__photo{
    width: 22%;
    height: 100%;    
    padding: 0;
    margin: 15px 0 0 8px;
    float: left;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.third-review__photo{
    float: right;
    width: 22%;
    margin: 0 5px 0 0;
    padding: 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}

.second-review__text{
    padding-top: 14px;
    padding-left: 30%;
    line-height: 24px;
    letter-spacing: 0.001em;
}

.third-review__text{
    padding-right: 25%;
    margin-left: 5px;
    line-height: 24px;
    letter-spacing: 0.001em;
}

.second-review__text__name{
    margin-top: 15px;
    font-weight: 700;

}

.third-review__text__name{
    margin-top: 17px;
    font-weight: 700;
}

/*
    STYLES FOR MODILE FROM 410PX TO 500PX
*/

@media (min-width:410px){

    header{
        background-color: #F8FBFF;
    }


    .header__logo{
        width: 45%;
        margin: 0 26%;
        background-color: #F8FBFF;
    }

    .header__navigation__button{
        background-color: #F8FBFF;
    }
    .header__button, .header__navigation{
        display: inline-block;
        
    }

    .plus__list__icon{
        display: block;
    }

    .container__main{
        display: block;
    }

    .container__main__table__img{
        width: 100%;
    }

    .plus__list__label{
        font-size: 1.2em;
        margin-right: 40px;
    }

    .content__plus__head__title{
        font-size: 7vw;
    }

    .main-review__photo__avatar{
        width: 136px;
        margin: 0 auto;
    }

    .content__review__title{
        font-size: 7vw;
    }
    
    .bx-viewport{
        height: 50vw !important;
    }

}

@media (min-width:510px){

    .header__logo{
        width: 320px;
        margin: 0 0 0 20px;
    }

    .header__button, .header__navigation{
        display: inline-block;
    }

    .header__navigation__button{
        display: block;
        padding: 4px 24px;
    }


    .container__main__line{
        display: block;
    }

    .container__main__table{
        display: block;
    }

    .bx-wrapper{
        display: none;
    }

    .container__main__img{
        display: none;
    }

    .container__main__table {
        width: 33.5em;
        margin: 0 auto;
    }

    tbody{
        text-align: center;
        margin: 0 auto;
    }

    .container__main__table td{
        width: 178px;
        text-align: center;
    }

    .table__img{
        margin: 0 auto;

    }

    .container__main__title{
        display: block;
    }

    .content__plus__head__title{
        font-size: 40px;
    }



    .review__content__main-review{
        box-shadow: none;
    }

    .review__content__main-review__photo{
        position: relative;
        float: left;
        display: block;
    }

    .plus__list__label{
        font-size: 1.3em;
        margin: 20px 0px 16px 25px;

    }

    .main-review__photo__avatar{
        margin-top: 20px;
        position: relative;
        top: 0;
    }

    .main-review__text{
        margin-left: 40%;
        text-shadow: none;
    }

    .main-review__name{
        text-shadow: none;
    }

    .review__content__main-review__text .quotes__start{
        position: absolute;
        right: 60%;
    }

    .main-review__photo__quotes{
        display: none;
    }

    .main-review__text__quotes{
        display: block;
    }

    .review__content__main-review__text .quotes__end{
        position: absolute;
        bottom: 10px;
        right: 0;
    }

    .review__content__other-review{
        display: inline-block;
    }

    .review__content__third-review{
        float: right;
    }

    .review__content__second-review{
        padding-top: 5px;
    }

    .review__content__second-review, .review__content__third-review{
        display: inline-block;
        width: 48%;
    }

    .second-review__photo{
        float: right;
        margin: 0;
        width: 97px;
    }

    .third-review__photo{
        float: left;
        width: 97px;
    }

    .second-review__text, .third-review__text{
        padding: 0px 0 0 0;
    }

    .third-review__text__content{
        padding-left: 95px;
    }

    .second-review__text__content{
        padding-right: 95px;
    }

    .content__review{

    }

    .review__content__main-review{
        margin-top: 0px;
    }

    .content__review__title{
        font-size: 40px;
    }

    .container__main__title{
        font-size: 2em;
    } 

}

@media (min-width:600px){
    .header{
        height: 160px;
    }

    .header__button{
        float: right;
        margin-top: 32px;
    }

    .header__logo{
        width: 318px;
        margin-left: 40px;
        padding-top: 1.5%;
    }

    .header__navigation{
        margin-bottom: 25px;
    }

    .container__main__table{
        width: 30em;
        margin: 0 auto;
    }
    .container__main__table td{
        width: 180px;
    }

    .content__plus__list{
        padding: 10px 40px;
        height: 50px;
    }
    .plus__list__arrow{
        margin: 15px 0px 0 0;
    }

    .plus__list__label{
        margin-left:  20px;
        line-height: 43px;
    }

    .content__review__border{
        margin: 50px auto 14px auto;
    }
}

@media (min-width:700px){
    .header__navigation__button{
        display: inline-block;
        float: left;
    }
    .header__logo{
        margin-left: 15px;
        width: 300px;
    }
    .container__main__table{
        width:48em;
    }
    .container__content{
        background-color: #F5F5F5;
    }
    .content__plus,.content__review__content{
    }    
}

@media (min-width:1028px){

    .header__logo{
        margin-left: 25px;
        margin-bottom: 27px;
        background-color: #F8FBFF;
    }

    .header__navigation{
        margin-left: 6px;
        margin-top: 35px;
        background-color: #F8FBFF;
    }

    .header__navigation a{
        letter-spacing: 0.05em;
    }

    .header__navigation__button{
        margin: 30px;
        background-color: #F8FBFF;
    }

    .header__button{
        margin: 35px 100px 0 0;
        background-color: #F8FBFF;
    }

    .container__main{
        padding-bottom: 95px;
        background-color: linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
    }

    .container__main__title{
        font-size: 2.3em;
        margin: 21px 0;
    }

    .container__main__table{
        margin-top: 80px;
        width: 55em;
    }

    .container__main__table td{
        width: 350px;
    }

    .table__img{
        margin: 0 auto;
    }

    .container__main__table{
        margin: 60px auto 0;
    }

    .container__main__table__img{
        margin-top: 68px;
        margin-left: 17px;
        width: 420px;
    }

    .table__td1{
        padding-right: 38px;
    }
    .table__td2{
        padding-left: 10px;
        padding-top: 5px;
    }
    .table__td3{
        padding-top: 120px;
        padding-left: 5px;
    }
    .table__td3 img{
        padding-bottom: 10px;
    }
    .table__td4{
        padding-top: 100px;
        padding-right: 40px;
    }
    .table__td5{
        padding-top: 43px;
        padding-right: 50px;
    }
    .table__td6{
        padding-left: 5px;
        padding-top: 40px;
    }

    .container__content{
        padding: 0;
        width: 52%;
        height: 900px;
        float: right;
        background: #F8FBFF    
    }

    .content__plus{
        padding: 75px 0 ;
        margin-top: -110px;
    }    
    .content__review{
        margin: -110px 0;
        padding: 10px 5px;
        width: 48%;

        background-color: #F5F5F5;
    }

    .review__content__other-review{
        display: block;
        position: relative;
        width: 850px;
    }

    .review__content__third-review{
        position: absolute;
    }

    .content__review__title{
        width: 80%;
        margin: 20px 6% 0;
    }

    .container{
        background: linear-gradient(111.04deg, #E2E2E2 0.39%, rgba(255, 255, 255, 0) 86.46%);
    }

    .content__review{
        background-color: #f8f8f8f8;
    }

    .main-review__text{
        margin: 15px  0 0 40%;
    }

    .review__content__main-review{
        width: 90%;
    }

    .review__content__main-review__text{
        margin: 30px 0;
    }

    .content__review__border{
        margin: 83px 36% 0;
    }

    .review__content__main-review__text .quotes__start{
        right: 63%;
        top: 5%;
    }

    .main-review__photo__avatar{
        width: 200px;
        margin-top: 10px;
    }

    .quotes__end{
        padding: 20px 0 0 22px;
    }

    .main-review__name{
        margin:  0px 42% 0;
        text-align:justify;
    }

    .second-review__text__content, .second-review__text__name{
        width: 200px;
        margin-left: 75px;
    }
    .third-review__text__name{
        margin-left: 105px;
        margin-top: 30px;
    }
    .review__content__other-review{
        margin-top: 70px;
    }
    .second-review__photo{
        margin-right: 20px;
    }
    .content__plus__list{
        margin: 0px 100px 0 100px;
        width: 750px;
    }

    .third-review__text__content{
        margin-top: 9px;
        width: 200px;

    }

    .content__plus__head__title{
        width: 640px;
        margin: 15px auto;
    }

    .content__plus__head__line{
        margin-left: 370px;
    }


    .plus__list__details{
        margin: 20px 10% 0 10.5%;
    }






}